 * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
    
.circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    /* animation: move 2s infinite; */
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.square {
    width: 100px;
    height: 100px;
    background-color: green;
    position:relative;
    animation: move2 2s infinite alternate;
    animation-timing-function: ease-in-out;
}
@keyframes move {
    0% {
        left:0;
    }
    50% {
        left: 100px;
    }
    100% {
        left:0;
    }
}

@keyframes move2 {
    from {
        left: 0 
    }
    to {
        left: 200px
    }
}