 * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
    
.circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    animation: move 2s infinite;
}

@keyframes move {
    0% {
        left:0;
    }
    50% {
        left: 100px;
    }
    100% {
        left:0;
    }
}